{% extends 'base_list.html' %}

{% block list_title %}Events{% endblock %}
{% block content_title %}Event List{% endblock %}

{% block thead %}
    <th>Event Name</th>
    <th>City</th>
    <th>Date</th>
    <th>Available</th>
    {% if organizer %}
    <th>Manage Seats</th>
    {% endif%}
{% endblock %}

{% block tbody %}
    {% for event in object_list  %}
            {% if event.available == 0 %}
                <tr class="table-danger">
            {% else %}
                <tr class="table-success">
            {% endif %}
            <td><a href="{% url 'book2fest:event-detail' event.pk %}">{{ event.event_name }}</a></td>
            <td>{{ event.city }}</td>
            <td>{{ event.event_start }}</td><td>{{ event.available}}</td>
            {% if organizer %}
            <td><a href="{% url 'book2fest:manage-seat' event.pk %}">Manage seats</a></td>
            {% endif%}
        </tr>
    {% endfor %}
{% endblock %}
