{% extends 'base_list.html' %}

{% block list_title %}Events{% endblock %}
{% block content_title %}Event List{% endblock %}

{% block thead %}
    <th>Event Name</th>
    <th>City</th>
    <th>Date</th>
    <th>Seats Available</th>
    <th>Rating</th>
    {% if organizer %}
        <th>Manage Seats</th>
    {% endif%}
{% endblock %}

{% block addbutton %}

    {% if organizer %}
        <div class="content">
            <div class="row">

                <div class="col-sm-4">
                    <a href="{% url 'book2fest:event-create' %}" class="btn btn-primary">Add Event</a>
                </div>
                <div class="col-sm-8">
                    <form class="content" style="position:absolute; margin:auto; left:0; right:0;">
                        <div class="row">

                            <div class="col-8 col-md-4">
                                <input class="form-control me-2" type="search" name="search" placeholder="Search event by" aria-label="Search">
                                <select class="form-select" name="search-filter" aria-label="Default select example">
                                    <option value="event_name" selected>Event Name</option>
                                    <option value="artist">Artist</option>
                                    <option value="genre">Genre</option>
                                    <option value="category">Category</option>
                                </select>
                            </div>
                            <div class="col-8 col-md-4">
                                <div class="d-flex">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Order by:</span>
                                    </div>
                                    <select class="form-select" name="order-filter" aria-label="Default select example">
                                        {% for filter in order_filters %}
                                            <option value="{{filter}}" selected>{{filter}}</option>
                                        {% endfor %}
                                    </select>
                                    <button class="btn btn-outline-success" type="submit">Search&Order</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        </div>
        </div>
    {% endif %}

{% endblock %}

{% block tbody %}
    {% for event in object_list  %}
        {% if event.available == 0 or event.cancelled %}
            <tr class="table-danger">
                {% else %}
            <tr class="table-success">
        {% endif %}
    <td><a href="{% url 'book2fest:event-detail' event.pk %}">{{ event.event_name }}</a></td>
    <td>{{ event.city }}</td>
    <td>{{ event.event_start }}</td>
    {% if event.cancelled %}
        <td>Cancelled</td>
    {% else %}
        <td>{{ event.seats_available}}</td>
    {% endif %}
    <td>{{event.avg_rating}}</td>
    {% if organizer %}
        <td><a href="{% url 'book2fest:manage-seat' event.pk %}">Manage event</a></td>
    {% endif%}
    </tr>
    {% endfor %}
{% endblock %}
