{% extends 'base.html' %}
{% block title %}List: {% block list_title %}{% endblock %}{% endblock %}
{% block content %}
    <div class="card" >
        <div class="card-header">
            <div class="container">
            <div class="row row-cols-2">
                <div class="col-sm-4">
                <h1>{% block content_title %}{% endblock %}</h1>

                </div>
                <div class="col-sm-8">
                <form class="container" style="position:absolute; margin:auto; left:0; right:0;">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="d-flex">
                                <input class="form-control me-2" type="search" name="search" placeholder="Search event by" aria-label="Search">
                                <select class="form-select" name="search-filter" aria-label="Default select example">
                                  <option value="event_name" selected>Event Name</option>
                                  <option value="artist">Artist</option>
                                  <option value="genre">Genre</option>
                                  <option value="category">Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                        <div class="d-flex">

                                      <div class="input-group-prepend">
                                        <span class="input-group-text">Order by:</span>
                                      </div>
                                        <select class="form-select" name="order-filter" aria-label="Default select example">
                                            {% for filter in order_filters %}
                                              <option value="{{filter}}" selected>{{filter}}</option>
                                            {% endfor %}
                                        </select>
                            <button class="btn btn-outline-success" type="submit">Search&Order</button>
                        </div>
                        </div>

                    </div>
                 </form>

            </div>
            </div>
        </div>
        <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                {% block thead %}
                {% endblock %}
            </tr>
            </thead>
            <tbody>
            {% block tbody %}
            {% endblock %}
            </tbody>
        </table>
        {% block table_after %}
        {% endblock %}

        </div>
        </div>

    </div>
{% endblock %}