{% extends 'base.html' %}
{% block title %}Book2Fest{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <h1 class="site-title">Welcome to Book2Fest</h1>
        </div>
        <div class="row justify-content-center">
            <h6 class="home-subtitle">The best place to book your social events</h6>
        </div>
        {% if user.is_authenticated %}
            <div class="row justify-content-center mt-5 mb-4">
                <h2>Recommended for you:</h2>
            </div>
            {% for event in recommended %}
                <div class="container border border-secondary mb-5 rounded event-available event">
                    <div class="row justify-content-center">
                        <p class="event-title">{{ event.event_name }}</p>
                    </div>
                    <div class="row justify-content-center">
                        <p>{{ event.event_end }} - {{ event.event_start }}</p>
                    </div>
                    <div class="row justify-content-center">
                        <p><i class="bi bi-geo-alt-fill"></i>{{ event.address }}, {{ event.city }} ({{ event.country }})</p>
                    </div>
                    <div class="row justify-content-center event-description mb-1">
                        <p class="text-center">{{ event.brief_description }}</p>
                    </div>
                    <p class="text-center">With:</p>
                    <div class="row justify-content-center">
                        <p class="text-center">
                            {% for artist in event.artist_list.all %}
                                <b>{% if artist != event.artist_list.all.first %}, {% endif %}{{ artist.full_name }}</b>
                            {% endfor %}
                        </p>
                    </div>
                    <div class="row justify-content-center">
                        <p><a href="book2fest/event/{{ event.id }}/detail" class="btn btn-primary">Go to the event</a></p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center mt-5 mb-4">
            <h2>Available events:</h2>
        </div>
        {% for event in available %}
            <div class="container border border-secondary mb-5 rounded event-available event">
                <div class="row justify-content-center">
                    <p class="event-title">{{ event.event_name }}</p>
                </div>
                <div class="row justify-content-center">
                    <p>{{ event.event_end }} - {{ event.event_start }}</p>
                </div>
                <div class="row justify-content-center">
                    <p><i class="bi bi-geo-alt-fill"></i>{{ event.address }}, {{ event.city }} ({{ event.country }})</p>
                </div>
                <div class="row justify-content-center event-description mb-1">
                    <p class="text-center">{{ event.brief_description }}</p>
                </div>
                <p class="text-center">With:</p>
                <div class="row justify-content-center">
                    <p class="text-center">
                        {% for artist in event.artist_list.all %}
                            <b>{% if artist != event.artist_list.all.first %}, {% endif %}{{ artist.full_name }}</b>
                        {% endfor %}
                    </p>
                </div>
                <div class="row justify-content-center">
                    <p><a href="book2fest/event/{{ event.id }}/detail" class="btn btn-primary">Go to the event</a></p>
                </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center mt-5 mb-4">
            <h2>Unavailable events:</h2>
        </div>
        {% for event in unavailable %}
            <div class="container border border-secondary mb-5 rounded event-unavailable event">
                <div class="row justify-content-center">
                    <p class="event-title">{{ event.event_name }}</p>
                </div>
                <div class="row justify-content-center">
                    <p>{{ event.event_end }} - {{ event.event_start }}</p>
                </div>
                <div class="row justify-content-center">
                    <p><i class="bi bi-geo-alt-fill"></i>{{ event.address }}, {{ event.city }} ({{ event.country }})</p>
                </div>
                <div class="row justify-content-center event-description mb-1">
                    <p class="text-center">{{ event.brief_description }}</p>
                </div>
                <p class="text-center">With:</p>
                <div class="row justify-content-center">
                    <p class="text-center">
                        {% for artist in event.artist_list.all %}
                            <b>{% if artist != event.artist_list.all.first %}, {% endif %}{{ artist.full_name }}</b>
                        {% endfor %}
                    </p>
                </div>
                <div class="row justify-content-center">
                    <p><a href="book2fest/event/{{ event.id }}/detail" class="btn btn-primary">Go to the event</a></p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}